cfgv==3.5.0
diffusers==0.39.0
distlib==0.4.3
einops==0.8.2
flatbuffers==25.12.19
huggingface-hub==0.36.2
hyperpyyaml==1.2.3
identify==2.6.19
importlib-metadata==9.0.1
ml-dtypes==0.6.0
nodeenv==1.10.0
onnx==1.22.0
onnxruntime==1.30.0
pip==26.2.1
pre-commit==4.6.2
python-discovery==1.6.0
ruamel-yaml==0.18.17
ruamel-yaml-clib==0.2.15
s3tokenizer==0.3.0
tokenizers==0.21.4
torchcodec==0.15.0
transformers==4.49.0
virtualenv==21.7.10
zipp==4.1.0
